---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <div class="min-h-screen bg-base-100">
    <!-- 頁尾 -->
    <footer class="footer footer-center p-4 bg-base-200 text-base-content">
      <div>
        <p>Copyright © 2024 - All rights reserved</p>
      </div>
    </footer>
  </div>
</DefaultLayout>
